<%= content_for :title, "Dev page" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
      <div class="form">
        <%= render "components/time-select", {
          current_selection: "past-6-months",
          base_path: "/",
          dates: [
            {
              value: "past-30-days",
              text: "Past 30 Days",
              hint_text: "21 July 2018 to 19 August 2018"
            },
            {
              value: "last-month",
              text: "Last month",
              hint_text: "1 July 2018 - 31 July 2018"
            },
            {
              value: "past-3-months",
              text: "Past 3 months",
              hint_text: "20 May 2018 - 19 August 2018"
            },
            {
              value: "past-6-months",
              text: "Past 6 months",
              hint_text: "20 February 2018 - 31 July 2018"
            },
            {
              value: "past-year",
              text: "Past year",
              hint_text: "20 August 2017 - 19 August 2018"
            },
            {
              value: "past-2-years",
              text: "Past 2 years",
              hint_text: "20 August 2016 - 19 August 2018"
            }
          ]
        } %>

        <%= render "govuk_publishing_components/components/select", {
          id: "org",
          label: "Organisation",
          options: [
            {
              text: "Organisation one",
              value: "o1"
            },
            {
              text: "Organisation two",
              value: "o2"
            },
            {
              text: "Organisation three has a really long name",
              value: "o3"
            }
          ]
        } %>
        <%= render "govuk_publishing_components/components/input", {
            label: {
              text: "Title or URL"
            },
            name: "title_url",
            autofocus: true,
            tabindex: 0
          } %>



      </div>
  </div>
  <div class="govuk-grid-column-three-quarters" style="background-color:#ccc">
    <h1 class="table__header">Showing <span class="parameter">x</span> to <span class="parameter">x</span> of <span class="parameter">x</span> results from <span class="parameter">x</span> and <span class="parameter">GDS</span> in <span class="parameter">x</span> and <span class="parameter">x</span>.</h2>
    <div style="width:1000px; height: 500px; border:1px solid red;">Table placeholder</div>
  </div>
</div>
